body{
    background-color: rgb(160, 160, 128);
}

nav{
    display: flex;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 10rem;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    display: flex;
}

nav img{
    width: 15rem;
    margin-right: rem;
    
}

.hero-container{

}

.hero-txt{

}

.hero-video{
    
}